<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="RIT_NEW" connectionString="Data Source=C:\ProgramData\RIT Automation\MobileUnit\RIT_NEW.sdf; Password=wen76Coda" providerName="System.Data.SqlServerCe" />
  </connectionStrings>
  <appSettings>
    <add key="AppPath" value="C:\Users\Иван\Downloads\5707-56090-muv\MobileUnitDrill\bin\Debug\MobileUnit.exe"/>
  </appSettings>
</configuration>